@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

body{
    background: linear-gradient(45deg, rgb(33, 33, 209), rgb(165, 9, 165));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

h1{
    font-family: 'Rubik Vinyl', cursive;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 2.5rem;
    margin-top: -200px;
}

header {
    width: 30%;
    background-color: rgba(255,255,255,0.3);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.05);

}

/* header{
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    width: 50%;
    height: 100px;
    border-radius: 15px;
    margin: 0 auto;

} */

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    
}

.menu{
    display: flex;
    margin: auto;
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease;
}

.menu li a:hover{
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 15px; 
}